# Created by .ignore support plugin (hsz.mobi)
ArchitectNow.ng2.Base/node_modules
ArchitectNow.ng2.Base/App/**/*.js
ArchitectNow.ng2.Base/App/**/*.css
ArchitectNow.ng2.Base/App/**/*.js.map
.vs
ArchitectNow.ng2.Base/bin
ArchitectNow.ng2.Base/obj
ArchitectNow.ng2.Base/scripts/libs
packages
